@media only screen and (max-width: 640px){
    .sumaho img{
        float: none;
        margin: 0 auto;
        width: 320px;
        height: 90px;
    }
    .sumahomozi {
        font-size: 12px;
    }
    .sumahomozi2 {
        font-size: 30px;
    }
    .sumahomozi img{
        width: 320px;
        height: 320px;
    }
    .sumahozyoukyou img{
        width: 320px;
        height: 70px;
    }
    .red {
        font-color: red
    }
    .sumaho11 img{
        width: 320px;
        height: 320px;
    }
    .youtube iframe{
        width: 320px;
        height: 180px;
    }
    .map img{
        width: 320px;
        height: 320px;
    }
    #map img {
        width: 320px;
        height: 320px;
    }
    .sumahogazou img {
        width: 320px;
        height: 180px;
    }
    .takka-mozi {
        font-size: 15px;
    }
    .miekunmozi {
        font-size: 15px;
    }
    .sonotamozi {
        font-size: 15px;
    }
    body {
        margin-right: 10px;
        margin-left: 10px;
        background-image: url("images/osyann.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: aliceblue;
    }
    
    #url {
        background-color: #414141;
        color: #101010;
    }
    #tuitta- {
        margin-right: 20px;
        background-color: #04A6EB;
        color: #fbffff;
    }
    #tuitta-2 {
        background-color: #04A6EB;
    }
    .sumahokakke- {
        margin-right: 3px;
        margin-left: 3px;
        background-color: rgba(10, 10, 10, 0.5);
    }
    .sumahokakke-2 {
        margin-right: 5px;
        margin-left: 5px;
        background-color: rgba(20, 20, 20, 0.7);
    }
    table {
        background-color: #202020;
        color: #fbffff
    }
    .sumahotakka {
        float: left;
    }
    .sumahonannmonai {
        clear: both;
    }
    .sumahomiekun {
        float: left;
    }
    .sumahonannmonai2 {
        clear: both;
    }
    #tizu {
        background-image: url("sa-ba-tizu.png");
    }
    #map {
        margin-left: none;
    }
    #douga {
        margin-left: 70px;
    }
    #douga2 {
        margin-left: 20px;
    }
    .btn{
    border-radius: 5px;
    background-color: green;
    padding: 20px;
    text-align: center;
    color: white;
    }
}
